@import "bootstrap";
@import "ember-modal-dialog/ember-modal-structure.css";
@import "ember-modal-dialog/ember-modal-appearance.css";
.page-heading{
    padding: 10px 0;
    background-color: #fff;
}
.inline-block{
    display:inline-block !important;
}
.text-light{
    color:#D3D3D3;
}
.hover-icon.text-light:hover{
    color:#999;
}
.pointer{
    cursor: pointer;
}
.pageBar select{
    height: 25px;
    margin: 0 10px;
}
.modal-content{
    border: none;
    width: 50vw;
}
.modal-header{
    padding: 10px;
    border: none;
    background-color: black;
    color: #fff;
}
.ember-modal-dialog {
    padding:0;
}